.top-header {
    background-color: black;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
    color: white;
    letter-spacing: 2pt;


}

.middle-area {
    background-color: #F2F4F6;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;
}

.footer-area {
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 0px;

}

.top-text{
    margin-top: 5px;
    margin-left: 30px;
    font-family: 'Sen-Bold', sans-serif;
}

.normal-text{
    margin-top: 2px;
    margin-left: 30px;
    font-family: 'Sen-Regular', sans-serif;
}

.middle-text{
    margin-top: 20px;
    margin-left: 30px;
    font-family: 'Sen-Bold', sans-serif;
    letter-spacing: 2pt;
    text-align: left;
}

.logo {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-right: 0px;
}

.middle-bullets{
    color:#009DCF;
    font-family: 'Sen-Regular', sans-serif;
    letter-spacing: 1pt;
    line-height: 15pt;
}


.right-footer{
    background-color: #009DCF;
    color: white;
    font-size: small;
    letter-spacing: 1pt;
    line-height: 15pt;
    text-align: justify;
}

.left-footer{
    letter-spacing: 1pt;
    line-height: 15pt;
    margin-top: 15px;
    margin-left: 30px;
    margin-bottom: 3px;
    margin-right: 3px;
    text-align:center;
    text-justify: distribute;
    font-family: 'Sen-Regular', sans-serif;
    font-size:medium;
}

.line-img{
    width:100%;
    margin-right: 30px;
}
.side-img {
    margin-top: 40px;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-right: 0px;
    width: 50%;
}